body{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 1440px;
    background: #FFFFFF;
}
a{
    text-decoration: none;
}
a:hover{
    color: red;
}
footer{
    width: 100%;
    margin-top: 72.2px;
    min-height: 90px;
    background: #AE7C78;
}
.containermain{
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
}
.container1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items:center;
}
.nav{
    width: 100%;
    min-height: 90px;
    border-bottom: 1px solid #AE7C78;
    border-top: 1px solid #AE7C78;
}

#nav1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #AE7C78;
}
#nav2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}
#nav3{
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #AE7C78;
}
#nav4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #AE7C78;
}
#nav5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #AE7C78;
}
#nav6{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #AE7C78;
}
.container2{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}
.info{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 81px;
}
#info1{
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 59px;
    color: #AE7C78;
}
#info2{
    margin-top: 0;
    margin-bottom: 64px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}
.oval{
    margin-bottom: 20px;
    height: 80px;
    background: #D89999;
    border-radius: 40px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
#link1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
#picture1{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.container4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.main{
    width: 90%;
    margin-top: 117px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.container31{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.container3{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}
#truck1{
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}
#truck2{
    margin-left: 20px;
    margin-top: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

#flower1{
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}
#flower2{
    margin-left: 20px;
    margin-top: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

#camera1{
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}
#camera2{
    margin-left: 20px;
    margin-top: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}
.main2{
    width: 80%;
    margin-top: 53px;
}
.container4{
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
}
#popular{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #AE7C78;
}
.container5{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
#nejnost{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}
#elegant{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}
#size{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}
#price{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}

#link2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
#picture2{
    width: 100%;
    height: auto;
}

.main3{
    width: 90%;
    margin-top: 94px;
    background: #AE7C78;
}
.container6{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}
#picture3{
    height: 391px;
    border-radius: 0;
}
#discount1{
    width: 100%;
    wrap-option: wrap;
    text-align: center;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 59px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
#discount2{
    width: 100%;
    wrap-option: wrap;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.feedback{
    width: 90%;
    margin-top: 93px;
}
.feedback1{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #AE7C78;
}
#feed1{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #AE7C78;
}
.container7{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
#feed2{
    wrap-option: wrap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #AE7C78;
}
#feed4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #AE7C78;
}
#feed6{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #AE7C78;
}
#feed3{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #AE7C78;
}
#feed5{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #AE7C78;
}
#feed7{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #AE7C78;
}
.container8{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items:center;
}
#footer1{
    width: 66px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
#footer2{
    width: 154px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
#footer3{
    width: 65px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
#footer4{
    width: 160px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
#footer5{
    width: 78px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}